.feedback-rating {

  .item-rating {
    padding: 0;
  }

  h1 {
    text-align: center;
  }

  .coloured-col {
    padding: .5em;
  }
}

.disabled-range {
  opacity: .4;
}

.feedback--chosen-option select {
  font-weight: bold;
}
