.item-divider {
  text-align: center;
}

.content {
  padding: 1rem;
}


  .large-icon {
    font-size: 40px;
  }


.todays-rating {
  h1 {
    margin: 0;
    text-align: center;
  }

  .item-rating {
    padding: 0;
  }

  .coloured-col {
    padding: .55em;
  }
}
.home-week-stats {


  .coloured-row {
    text-align: center;

    &.item,
    .item,
    .col {
      padding: 0;
    }

  }

  .coloured-col {
    padding: 5px
  }

}
