<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Feedback</h1>
    </ion-header-bar>

    <ion-content>
            <form ng-submit="feedbackForm.$valid && addFeedback()" novalidate name="feedbackForm" class="content-centered">
              <div class="card" ng-show="!newFeedback.option">
                <div class="item item-divider">
                  Your option
                </div>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'bistro'">Bistro</ion-radio>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'vegetarian'">Vegetarian</ion-radio>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'soup'">Soup</ion-radio>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'jp'">Jacket Potato</ion-radio>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'salad'">Salad</ion-radio>
                <ion-radio name="range" required ng-model="newFeedback.option" ng-value="'sandwich'">Gourmet Sandwich</ion-radio>
              </div>
              <div class="card" ng-show="newFeedback.option">
                <div class="item item-divider">
                  Your feedback
                </div>
                <label class="item item-input item-select" for="range">
                  <div class="input-label">
                  Range
                  </div>
                  <select name="range" required ng-model="newFeedback.option">
                    <option value="" disabled>Please select</option>
                    <option value="bistro">Bistro</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="soup">Soup</option>
                    <option value="jp">Jacket Potato</option>
                  </select>
                </label>
                <div class="item range">
                  <div class="input-label">
                       Taste
                  </div>
                  <i class="icon ion-sad-outline"></i>
                  <input required type="range" name="rating" ng-model="newFeedback.rating" ng-change="calculateTotal()" min="0" max="5" step="0.1">
                  <i class="icon ion-happy-outline"></i>
                </div>
                 <div class="item range">
                   <div class="input-label">
                        Staff
                   </div>
                   <i class="icon ion-sad-outline"></i>
                   <input required type="range" name="staff" ng-model="newFeedback.staff" ng-change="calculateTotal()" min="0" max="5" step="0.1">
                   <i class="icon ion-happy-outline"></i>
                 </div>
                 <div class="item range">
                   <div class="input-label">
                        Portion
                   </div>
                   <i class="icon ion-sad-outline"></i>
                   <input required type="range" name="staff" ng-model="newFeedback.portion" ng-change="calculateTotal()" min="0" max="5" step="0.1">
                   <i class="icon ion-happy-outline"></i>
                 </div>
                 <div class="item range">
                   <div class="input-label">
                        Value
                   </div>
                   <i class="icon ion-sad-outline"></i>
                   <input required type="range" name="value" ng-model="newFeedback.money" ng-change="calculateTotal()" min="0" max="5" step="0.1">
                   <i class="icon ion-happy-outline"></i>
                 </div>

                </div>
                <div class="card feedback-rating" ng-if="total >= 0">
                  <div class="item item-divider">
                    Your total rating
                  </div>
                  <div class="item item-rating">
                    <h1 colour-map="total" colour-map-scale="true"></h1>
                  </div>

                 </div>
               <div class="padding">
                  <button type="submit" class="button button-block button-positive activated" ng-disabled="feedbackForm.$invalid">Submit feedback</button>
                </div>
            </form>

    </ion-content>

</ion-view>
