<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Canteen Feedback</h1>
    </ion-header-bar>

    <ion-content>
        <!-- <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="fetchRandomText()">
        </ion-refresher> -->
        <div class="loader" ng-if="!feedbacks">
            <ion-spinner></ion-spinner>
        </div>
        <div class="content-centered">
          <div class="card todays-rating">
            <div class="item item-avatar positive">
              <span class="icon ion-calendar item-image large-icon"></span>
              <h2 class="positive">Today</h2>
              <p>{{todaysDate | date: 'EEEE, MMMM d'}}</p>
              <span class="badge badge-balanced">
                <ng-pluralize count="ratings.today[0].quantity || 0"
                              when="{'0': 'No ratings', 'one': '{} rating','other': '{} ratings'}">
                </ng-pluralize></span>
            </div>
            <div class="item item-body item-rating" ui-sref="app.dayFeedbacks({id:(todaysDate | date : 'yyyy-MM-dd')})">
                <h1 ng-if="ratings.today" colour-map="(ratings.today[0].total / ratings.today[0].quantity)" colour-map-scale="true"></h1>
                <h1 ng-if="!ratings.today">—</h1>
            </div>
          </div>

          <div class="padding-horizontal" ng-if="!hasVoted">
            <button class="button button-block button-positive" ui-sref="app.feedback">
            <strong>Add your feedback</strong>
            </button>
          </div>

          <div class="list card home-week-stats">
            <div class="item item-avatar positive">
              <span class="icon ion-stats-bars item-image large-icon"></span>
              <h2 class="positive">This Week</h2>
              <p>{{weekDaysUnformatted[0] | date : 'MMMM d'}} — {{weekDaysUnformatted[4] | date : 'MMMM d'}}</p>
            </div>
            <div class="row item item-divider">
              <div class="col">
                Mon
              </div>
              <div class="col">
                Tue
              </div>
              <div class="col">
                Wed
              </div>
              <div class="col">
                Thur
              </div>
              <div class="col">
                Fri
              </div>
            </div>
            <div class="row item coloured-row">
              <div ng-repeat="date in weeklyPercentage" class="col">
                 <div colour-map="date.rating" ui-sref="app.dayFeedbacks({id:date.day})"></div>
              </div>
            </div>
        </div>
      </div>
    </ion-content>

</ion-view>
