.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

ion-view.pane {
  background: $calm url('../images/cook-wood.jpg') repeat center center;


  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url('../images/cook-detail.gif') no-repeat bottom center;
    height: 400px;
    z-index: -1;

    @media screen and (max-width: 414px) {
      // background: $calm url('../images/bg.gif') no-repeat center bottom;
      background-size: 140%;
    }
  }
}

.content-centered {
  max-width: 980px;
  margin: 0 auto;
}
