.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

ion-view.pane {
  background: $sand;

  @media screen and (max-width: 414px) {
    background: $sand url('../images/bg.gif') no-repeat center bottom;
    background-size: cover;
  }
}

.content-centered {
  max-width: 980px;
  margin: 0 auto;
}
